/* Fonts go here! */
/* @font-face {
  font-family: 'Times Now';
  src: url('/fonts/TimesNow-ExtraLight.woff2') format('woff2'),
  url('/fonts/TimesNow-ExtraLight.woff') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
} */
