/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Color variables */
:root {
  --primary-color: #CCEBD4;
}

/* Base */
html {
  @apply font-sans;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.4;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 20px;
  }
}

/* Typography */
.h1 {
  @apply text-2xl md:text-3xl mb-4;
}

.h2,
.h3,
.h4 {
  @apply text-lg md:text-2xl mb-4 leading-tight;
}

small {
  @apply font-mono text-sm;
}

.button {
  @apply border rounded-full py-2 px-4 hover:bg-light-gray;
}

/* Rich text formatting */
.richTextFormatting h2 {
  @apply text-lg md:text-2xl mb-4 leading-tight;
}

.richTextFormatting p {
  @apply mb-4;
}

.richTextFormatting p:empty {
  @apply pb-4;
}

.richTextFormatting p:last-child {
  @apply mb-0;
}

.richTextFormatting ul {
  @apply list-disc ml-8;
}

.richTextFormatting li {
  @apply mb-4;
}

.richTextFormatting li ul {
  @apply mt-4;
}

.richTextFormatting a {
  @apply underline;
}

.richTextFormatting strong,
.richTextFormatting b {
  @apply font-bold;
}

@media screen and (max-width: 767px) {
  .rolesAnimation {
    -webkit-overflow-scrolling: touch;
    position: relative;
    width: 200%;
  }

  .rolesAnimation--overrideTransform {
    transform: none !important;
  }

  .rolesAnimationContainer::-webkit-scrollbar {
    display:none;
  }
}